.articles {
  background: $darkPurple;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  background-image: url(/assets/wlc-bg1.jpg);

  strong {
    -webkit-text-stroke: 1px $offBlack;
  }
  
  .articleHome,
  .articleList {
    height: 100%;
  }
  .articleList {
    width: 100%;
  }

  .articlePreview {
    width: 100%;
    transition: 0.5s;

    &:hover {
      background-color: $darkPurple;
    }

    a {
      display: block;
      margin: 0 auto;
      width: 90%;
      max-width: 1500px;
      padding: 35px 0;
    }

    .articleTitle {
      font-size: 3.6rem;
      font-family: $pairedFont;
      padding-bottom: 10px;
    }

    .fa-external-link-alt {
      font-size: 4rem;
      padding-left: 15px;
      color: $neonGreen !important;
    }

    .articleTitle,
    .fa-external-link-alt,
    .articleSubText {
      color: $white;
    }

    .articleData {
      font-size: 2rem;
      padding-bottom: 20px;
      font-family: $bodyFont;
      color: $neonGreen;
      font-style: italic;
    }

    .articleSubText {
      font-size: 1.8rem;
      padding-bottom: 20px;
      font-family: $fontD;
    }
  }

  .moreArticles {
    font-size: 2.4rem;
    width: 100%;
    font-family: $pairedFont;
    color: $neonGreen;
    margin-top: -15px;
    padding-bottom: 25px;
    font-weight: 700;
  }
}
