.bio {
  background-color: $offBlack;
  color: $white;
  margin-bottom: 50px;

  .flexContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    .bioContents {
      border: 3px solid $darkPurple;
      width: 66%;
      height: 100%;
      padding: 1.5rem;
      background: $darkPurple;
      border-radius: 13px;
      box-shadow: $boxShadow;

      .sectionHeading {
        margin-bottom: 15px;
      }

      p {
        font-size: clamp(1.8rem, 3vw, 2.1rem);
        line-height: clamp(1.3em, 2.4rem, 3.3rem);
        font-family: $pairedFont;
        padding-bottom: 15px;
      }
      p:nth-of-type(1) {
        font-size: clamp(2.8rem, 3vw, 2.1rem);
        font-weight: 700;
      }
    }

    .profilePic {
      // max-height: 600px;
      // max-width: 400px;
      height: 400px;

      img {
        object-fit: contain;
        object-position: top;
        height: 100%;
        max-height: 515px;

        border: 5px solid $darkPurple;
        border-radius: 25px;
        box-shadow: $boxShadow;
      }
    }
  }
}
