.bio {
  background-color: $offBlack;
  color: $white;

  .flexContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    p {
      font-size: 2.2rem;
      line-height: 2.7rem;
      font-family: $pairedFont;
      padding-bottom: 10px;
    }

    p:first-child {
      margin-top: -0.15em;
    }

    .bioContents {
      border: 3px solid $darkPurple;
      width: 66%;
      padding: 25px;
      background: $darkPurple;
      border-radius: 13px;
      box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);

      .heroBtn {
        margin-left: 0;
      }
    }

    .profilePic {
      max-height: 600px;
      max-width: 400px;

      img {
        object-fit: contain;
        height: 100%;

        border: 5px solid $darkPurple;
        border-radius: 25px;
        box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
      }
    }
  }
}
