header {
  display: flex;
  position: fixed;
  width: 100%;
  min-height: 3vh;
  top: 0;
  z-index: 1030;
  border-bottom: 0.1rem solid $darkPurple;
  background-image: linear-gradient(to right, $offBlack 0%, $darkPurple 100%);
  color: $neonGreen !important;

  .menuToggleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 6rem;

    .menuToggle {
      height: 50px;
      width: 50px;
    }

    .siteLogo {
      height: 50px;
      width: 50px;
      border-radius: 10px;
      transition: transform .2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .menuBar {
      width: 45px;
      height: 45px;
    }
  }
}

ul {
  display: flex;
  padding: 15px 0 20px;
  justify-content: space-around;
  align-content: center;
  font-weight: 700;
  height: 100%;

  li {
    display: flex;
    align-items: center;
    a {
      font-family: $bodyFont;
      font-size: 1.8rem;
      text-transform: uppercase;
      padding: 0 15px;
    }
  }
}
