header {
  display: flex;
  position: fixed;
  width: 100%;
  min-height: 3vh;
  top: 0;
  z-index: 1030;
  border-bottom: .1rem solid $darkPurple;
  // background-color: $offBlack;
  background-image: linear-gradient(to right, $offBlack 0%, $darkPurple 100%);
  color: $neonGreen !important;

  .menuToggleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 6rem;

    .logoImg,
    .menuToggle {
      height: 50px;
      width: 50px;
    }

    .menuBar {
      width: 45px;
      height: 45px;
    }
  }
}


ul {
  display: flex;
  padding: 15px 0 20px;
  justify-content: space-around;
  font-weight: 700;

  li {
    display: inline-block;
    position: relative;

    a {
      font-family: $bodyFont;
      font-size: 1.6rem;
      text-transform: uppercase;
      padding: 30px 15px;
    }
  }
}

.logo {
  font-size: 4rem;
  font-family: $bodyFont;
  font-weight: 700;
  

  :hover {
    transform: scale(1.2s);
  }
}
