.home {
  // background-image: linear-gradient(to right bottom, rgba(22, 65, 13, 0.7), rgba(100, 218, 100, 0.6)), url(/assets/home-bg.gif);
  background-image: linear-gradient(
      to right bottom,
      rgba(22, 65, 13, 0.7),
      rgba(100, 218, 100, 0.6)
    ),
    url(https://data.whicdn.com/images/254374461/original.gif);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.heroContainer {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  max-width: 1250px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .heroAvatar {
    background: $offBlack;
    border-radius: 50%;
    border: 2px solid $darkPurple;
  }

  // content
  .heroContent {
    color: $white;
    border: 2px solid $darkPurple;
    background: $offBlack;
    padding: 1.25rem 1.875rem;
    width: 100%;

    .heroTitle {
      font-family: $pairedFont;
      font-size: clamp(5rem, 5.6vw, 7.5rem);
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      padding-bottom: 20px;
    }

    .heroRole {
      font-size: clamp(2.3rem, 3.1vw, 3rem);
      font-family: $bodyFont;
    }

    .heroTagline {
      font-size: 2.7rem;
      font-size: clamp(1.8rem, 3.3vw, 2.7rem);
      font-family: $pairedFont;
      border-left: 10px solid $neonGreen;
      padding-left: 15px;
      line-height: 2.9rem;
      margin: 50px 0;
    }

    // links
    .fab,
    .far {
      font-size: 4rem;
      padding: 7px;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.2);
        color: $neonGreen;
      }
    }

    .heroBtn {
      height: 45px;
    }
  }

  // image
  .heroImage {
    padding-left: 40px;
    height: 440px;
    width: 60%;
  }

  .linkContainer {
    width: 100%;
    padding-bottom: 20px;
  }
}
