.projectItemRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;

  .projectItemDisplay,
  .projectItemContent {
    width: 100%;
    max-width: 700px;
    margin: 0 5px;
    height: 100%;
    box-shadow: $boxShadow;
    border-radius: 13px;
  }
  .projectItemDisplay img {
    border-radius: 13px;
  }

  .projectItemContent {
    height: 100%;
    padding: 15px;
    flex-shrink: 2;

    background-color: $darkPurple;
    color: $white;

    .projectTitle {
      font-size: clamp(2.3rem, 3.9vw, 3rem);
      font-family: $bodyFont;
      padding: 10px 0;
    }

    .projectTools {
      font-size: 1.5rem;
      font-family: $bodyFont;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .toolUsed {
        background-color: $darkGreen;
        border: 2px solid $white;
        border-radius: 15px;
        padding: 7px;
        margin: 7px 10px 0 0;
        font-weight: 500;
      }
    }

    .projectDescription {
      font-size: clamp(1.6rem, 3.3vw, 2rem);
      line-height: clamp(2.7rem, 2.2vh, 3.1rem);
      font-family: $pairedFont;
      padding: 20px 0;
    }

    .heroBtn {
      // width: 100%;
      min-width: 168px;
      font-size: clamp(1.7rem, 3.3vw, 2rem);
      text-align: center;
      .fa-github-alt {
        margin-right: 10px;
      }
    }
  }
}
