.projectItemRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: wrap;
  border: 1px solid red;

  .projectItemDisplay {
    width: 45%;
    // max-width: ???
    margin-right: 40px;
    border: 1px solid red;
  }

  .projectItemContent {
    width: 50%;
    // max-width: ???

    padding: 15px;

    background-color: $darkPurple;
    color: $white;
    border: 1px solid green;
    line-height: 2.1rem;

    .projectTools,
    .projectTitle,
    .projectDescription,
    .projectBtn {
      padding-bottom: 20px;
      font-family: $bodyFont;
    }

    .projectTools {
      font-size: 3rem;
      font-family: $bodyFont;
    }

    .projectTitle {
      font-size: 2.6rem;
      // font-family: $pairedFont;
    }

    .projectDescription {
      font-size: 2.4rem;
      line-height: 3rem;
      font-family: $pairedFont;
    }

    .projectBtn {
      width: 300px;
      height: 300px;
      display: inline;
      border: 1px solid black;
      padding: 10px;
      background-color: teal;
    }

    .fa-github-alt {
      margin-right: 5px;
      font-size: 4rem;
    }

    .projectBtn,
    .fa-github-alt {
      font-size: 2.5rem;
      text-transform: uppercase;
    }
  }
}
