// font family
$headingFont: "Roboto Slab", serif;
$bodyFont: "Fira Code", monospace;
$fontC: "Oswald", sans-serif;
$fontD: "Rubik", sans-serif;

// colors
$offBlack: #2a2d34;
$darkGreen: #5c946e;
$neonGreen: #08d665;
$white: #ebebeb;
$darkPurple: #171117;
