$pairedFont: "Roboto Slab", serif;
$bodyFont: "Fira Code", monospace;
$fontD: "Arvo", serif;
$fontC: "Fira Sans", sans-serif;

// colors
$offBlack: #2a2d34;
$darkGreen: #0d6328;
$neonGreen: #08d665;
$white: #ebebeb;
$darkPurple: #171117;
