@import "./partials/variables";
@import "./partials/setup";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/home";
@import "./partials/bio";
@import "./partials/skills";
@import "./partials/projects";
@import "./partials/articles";
@import "./partials/contact";
@import "./partials/buttons";
@import "./partials/responsive";

// General
html {
  font-size: 62.5%;
}

body {
  background-color: $offBlack;
}

img {
  width: 100%;
}

section {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 100px 0;
}

.wrapper {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// stripping styles
h1,
h2,
h3,
h4,
a,
p,
i,
ul,
li,
nav,
fieldset {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}

// components
.headingContainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.textContainer {
  position: relative;
  z-index: 2;
  // border: 1px solid red;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}

strong {
  text-transform: uppercase;
  font-size: 9.5rem;
  letter-spacing: -1px;
  font-family: $bodyFont;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px $darkPurple;
  position: absolute;
  left: 0;
  top: 1px;
  z-index: -1;
}

small {
  position: absolute;
  top: 0;
  font-weight: 700;
  font-size: 1.9rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: $neonGreen;
  font-family: $pairedFont;
}

.sectionHeading {
  font-size: 6rem;
  font-family: $bodyFont;
  text-transform: uppercase;
}

.sectionHeading,
.headingTag {
  color: $white;
}

.headingTag {
  font-family: $fontD;
  font-size: 3rem;
  line-height: 1.5em;
  width: 30vw;
  padding: 10px;
  padding-left: 20px;
  border-left: 7px solid $neonGreen;
}

.divider {
  position: relative;
  height: 1px;
  z-index: 20;
}

.divider::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 8px;
  background-image: linear-gradient(
    to right,
    transparent,
    $darkGreen,
    transparent
  );
}
