@import "./partials/variables";
@import "./partials/setup";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/home";
@import "./partials/bio";
@import "./partials/skills";
@import "./partials/projects";
@import "./partials/articles";
@import "./partials/contact";
@import "./partials/headings";
@import "./partials/divider";
@import "./partials/buttons";
@import "./partials/responsive";

// General
html {
  font-size: 62.5%;
}

body {
  background-color: $offBlack;
}

img {
  width: 100%;
}

section {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 100px 0;
}

.wrapper {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// stripping styles
h1,
h2,
h3,
h4,
a,
p,
i,
ul,
li,
nav,
fieldset {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}