html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  min-height: 3vh;
  top: 0;
  z-index: 1030;
  border-bottom: 0.1rem solid #171117;
  background-image: -webkit-gradient(linear, left top, right top, from(#2a2d34), to(#171117));
  background-image: linear-gradient(to right, #2a2d34 0%, #171117 100%);
  color: #08d665 !important;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
}

header .hamburgerMenu {
  display: none;
  min-height: 40px;
  min-width: 40px;
  margin-top: 5px;
}

header .menuToggleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0 0 6rem;
  min-width: 170px;
}

header .menuToggleContainer .menuToggle {
  height: 50px;
  width: 50px;
}

header .menuToggleContainer .menuBar {
  width: 45px;
  height: 45px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 700;
  height: 100%;
}

header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li a {
  font-family: "Fira Code", monospace;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 17px 15px;
}

.siteLogo {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.siteLogo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.response--site-menu {
  background: transparent;
}

.response--main-navigation.mobile-nav .response--site-menu {
  background-image: -webkit-gradient(linear, left top, right top, from(#2a2d34), to(#171117));
  background-image: linear-gradient(to right, #2a2d34 0%, #171117 100%);
}

.show-nav {
  background: transparent;
  border: none;
  cursor: pointer;
}

.response--main-navigation.mobile-nav.expanded .response--site-menu {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
}

.response--main-navigation.mobile-nav.expanded .response--site-menu .hide-nav {
  background: #2a2d34;
  font-family: "Fira Code", monospace;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
}

.mobile-nav.expanded {
  min-height: 100vh;
  padding-top: 20px;
}

.mobile-nav.expanded li {
  margin: 10px 0;
}

.mobile-nav.expanded a {
  font-size: 3rem;
}

footer {
  min-height: 29vh;
  height: 100%;
  background-color: #171117;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Fira Code", monospace;
  padding-bottom: 20px;
  margin: 0 auto;
}

footer p {
  font-size: clamp(1.4rem, 1.9vw, 2rem);
  color: #ebebeb;
  padding: 10px 0;
}

footer p:nth-of-type(2) {
  font-size: clamp(1.2rem, 1.9vw, 2rem);
  padding-top: 0;
}

footer span {
  color: #08d665;
  font-weight: 700;
}

footer .siteLogo {
  height: 75px;
  width: 75px;
  margin-bottom: 12px;
}

footer .siteLogo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 0 1px 1px -1px inset, 0 40px 20px -20px rgba(255, 255, 255, 0.08) inset, 0 -1px 1px -1px rgba(0, 0, 0, 0.7) inset, 0 -40px 20px -20px rgba(0, 0, 0, 0.06) inset, 0 11px 8px -3px rgba(0, 0, 0, 0.4), 0 4px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 6px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 1px -1px inset, 0 40px 20px -20px rgba(255, 255, 255, 0.08) inset, 0 -1px 1px -1px rgba(0, 0, 0, 0.7) inset, 0 -40px 20px -20px rgba(0, 0, 0, 0.06) inset, 0 11px 8px -3px rgba(0, 0, 0, 0.4), 0 4px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 6px 1px rgba(0, 0, 0, 0.5);
}

.home {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(22, 65, 13, 0.7)), to(rgba(100, 218, 100, 0.6))), url(https://data.whicdn.com/images/254374461/original.gif);
  background-image: linear-gradient(to right bottom, rgba(22, 65, 13, 0.7), rgba(100, 218, 100, 0.6)), url(https://data.whicdn.com/images/254374461/original.gif);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.heroContainer {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroContainer .heroAvatar {
  background: #2a2d34;
  border-radius: 50%;
  border: 2px solid #171117;
}

.heroContainer .heroContent {
  color: #ebebeb;
  border: 2px solid #171117;
  background: #2a2d34;
  padding: 1.25rem 1.875rem;
  width: 100%;
}

.heroContainer .heroContent .heroTitle {
  font-family: "Roboto Slab", serif;
  font-size: clamp(5rem, 5.6vw, 7.5rem);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding-bottom: 20px;
}

.heroContainer .heroContent .heroRole {
  font-size: clamp(2.3rem, 3.1vw, 3rem);
  font-family: "Fira Code", monospace;
}

.heroContainer .heroContent .heroTagline {
  font-size: 2.7rem;
  font-size: clamp(1.8rem, 3.3vw, 2.7rem);
  font-family: "Roboto Slab", serif;
  border-left: 10px solid #08d665;
  padding-left: 15px;
  line-height: 2.9rem;
  margin: 50px 0;
}

.heroContainer .heroContent .fab,
.heroContainer .heroContent .far {
  font-size: 4rem;
  padding: 7px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heroContainer .heroContent .fab:hover,
.heroContainer .heroContent .far:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #08d665;
}

.heroContainer .heroContent .heroBtn {
  height: 45px;
}

.heroContainer .heroImage {
  padding-left: 40px;
  height: 440px;
  width: 60%;
}

.heroContainer .linkContainer {
  width: 100%;
  padding-bottom: 20px;
}

.bio {
  background-color: #2a2d34;
  color: #ebebeb;
  margin-bottom: 50px;
}

.bio .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.bio .flexContainer .bioContents {
  border: 3px solid #171117;
  width: 66%;
  height: 100%;
  padding: 1.5rem;
  background: #171117;
  border-radius: 13px;
  -webkit-box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
}

.bio .flexContainer .bioContents .sectionHeading {
  margin-bottom: 15px;
}

.bio .flexContainer .bioContents p {
  font-size: clamp(1.8rem, 3vw, 2.1rem);
  line-height: clamp(1.3em, 2.4rem, 3.3rem);
  font-family: "Roboto Slab", serif;
  padding-bottom: 15px;
}

.bio .flexContainer .bioContents p:nth-of-type(1) {
  font-size: clamp(2.8rem, 3vw, 2.1rem);
  font-weight: 700;
}

.bio .flexContainer .profilePic {
  height: 400px;
}

.bio .flexContainer .profilePic img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  max-height: 515px;
  border: 5px solid #171117;
  border-radius: 25px;
  -webkit-box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
}

.skills {
  background: #171117;
  background-image: url(../assets/skills-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
}

.skills .sectionHeading {
  text-align: center;
  padding-bottom: 20px;
  font-size: clamp(4.5rem, 3.2vw, 6rem);
}

.skills .sectionHeading,
.skills p {
  color: #ebebeb;
}

.centerContainer {
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
}

.centerContainer .gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  text-align: center;
  padding: 10px;
}

.centerContainer .gridContainer .skill {
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  border: 3px solid #ebebeb;
  padding: 10px;
}

.centerContainer .gridContainer img {
  height: 9rem;
}

.centerContainer .gridContainer p {
  padding-top: 10px;
  font-family: "Fira Code", monospace;
  font-size: 1.9rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projectItemRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
}

.projectItemRow .projectItemDisplay,
.projectItemRow .projectItemContent {
  width: 100%;
  max-width: 700px;
  margin: 0 5px;
  height: 100%;
  -webkit-box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
  border-radius: 13px;
}

.projectItemRow .projectItemDisplay img {
  border-radius: 13px;
}

.projectItemRow .projectItemContent {
  height: 100%;
  padding: 15px;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  background-color: #171117;
  color: #ebebeb;
}

.projectItemRow .projectItemContent .projectTitle {
  font-size: clamp(2.3rem, 3.9vw, 3rem);
  font-family: "Fira Code", monospace;
  padding: 10px 0;
}

.projectItemRow .projectItemContent .projectTools {
  font-size: 1.5rem;
  font-family: "Fira Code", monospace;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectItemRow .projectItemContent .projectTools .toolUsed {
  background-color: #0d6328;
  border: 2px solid #ebebeb;
  border-radius: 15px;
  padding: 7px;
  margin: 7px 10px 0 0;
  font-weight: 500;
}

.projectItemRow .projectItemContent .projectDescription {
  font-size: clamp(1.6rem, 3.3vw, 2rem);
  line-height: clamp(2.7rem, 2.2vh, 3.1rem);
  font-family: "Roboto Slab", serif;
  padding: 20px 0;
}

.projectItemRow .projectItemContent .heroBtn {
  min-width: 168px;
  font-size: clamp(1.7rem, 3.3vw, 2rem);
  text-align: center;
}

.projectItemRow .projectItemContent .heroBtn .fa-github-alt {
  margin-right: 10px;
}

.articles {
  width: 100%;
  height: 100%;
  background-image: url(../assets/articles-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.articles strong {
  -webkit-text-stroke: 1px #2a2d34;
}

.articles .articleHome,
.articles .articleList {
  height: 100%;
}

.articles .articleList {
  width: 100%;
}

.articles .articlePreview {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.articles .articlePreview:hover {
  background-color: #171117;
}

.articles .articlePreview a {
  width: 90%;
  max-width: 1500px;
  display: block;
  margin: 0 auto;
  padding: 35px 0;
}

.articles .articlePreview .articleTitle {
  font-family: "Roboto Slab", serif;
  padding-bottom: 10px;
}

.articles .articlePreview .fa-external-link-alt {
  padding-left: 15px;
  color: #08d665 !important;
}

.articles .articlePreview .articleTitle,
.articles .articlePreview .fa-external-link-alt {
  font-size: clamp(2.4rem, 3.4vw, 3.6rem);
  line-height: 1.3;
}

.articles .articlePreview .articleTitle,
.articles .articlePreview .fa-external-link-alt,
.articles .articlePreview .articleSubText {
  color: #ebebeb;
}

.articles .articlePreview .articleData {
  font-size: clamp(1.6rem, 2.2vw, 2rem);
  padding: 10px 0 20px 0;
  font-family: "Fira Code", monospace;
  color: #08d665;
  font-style: italic;
}

.articles .articlePreview .articleSubText {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-bottom: 20px;
  font-family: "Arvo", serif;
}

.articles .moreArticles {
  font-size: clamp(1.9rem, 2.6vw, 2.4rem);
  width: 100%;
  font-family: "Roboto Slab", serif;
  color: #08d665;
  margin-top: -15px;
  padding-bottom: 25px;
  font-weight: 700;
}

.contact {
  font-family: "Roboto Slab", serif;
  color: #ebebeb;
  position: relative;
  z-index: 1;
}

.contact .clipOverlay {
  height: 100%;
  width: 100%;
  background-color: #2a2d34;
  position: absolute;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

.contact .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.contact .flexContainer .formContent {
  width: 49%;
  font-size: clamp(1.8rem, 2vw, 2.8rem);
  padding-right: 10px;
}

.contact .flexContainer .formContent p:nth-child(-n + 3) {
  padding-bottom: 30px;
}

.contact .flexContainer .formContent a {
  text-decoration: underline;
  color: #08d665;
}

.contact .flexContainer .linkContainer {
  width: 75%;
  margin-top: 50px;
  font-size: clamp(3rem, 3vw, 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .flexContainer .linkContainer a {
  margin: 0px 25px 5px 0;
}

.contact .flexContainer .linkContainer .fab,
.contact .flexContainer .linkContainer .far {
  color: #ebebeb;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.contact .flexContainer .linkContainer .fab:hover,
.contact .flexContainer .linkContainer .far:hover {
  color: #08d665;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.formContainer {
  width: 50%;
  min-width: 500px;
  height: 100%;
  min-height: 630px;
  max-height: 600px;
  margin-top: -15px;
  font-size: 2rem;
  border: 2px solid #171117;
  background-color: #171117;
  border-radius: 13px;
  -webkit-box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
}

.formContainer fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.formContainer fieldset,
.formContainer .heroBtn {
  padding: 20px;
}

.formContainer label {
  font-family: "Roboto Slab", serif;
  font-size: 2.3rem;
  padding: 10px 0;
}

.formContainer label:first-of-type {
  padding-top: 0;
}

.formContainer textarea {
  resize: none;
  width: 100%;
  height: 100%;
  min-height: 250px;
  padding-right: 15px;
}

.formContainer input,
.formContainer textarea {
  padding: 15px;
  font-size: 1.7rem;
  font-family: "Fira Code", monospace;
  background-color: #ebebeb;
  border-color: #2a2d34;
}

.formContainer input::-webkit-input-placeholder,
.formContainer textarea::-webkit-input-placeholder {
  font-family: "Fira Code", monospace;
}

.formContainer input:-ms-input-placeholder,
.formContainer textarea:-ms-input-placeholder {
  font-family: "Fira Code", monospace;
}

.formContainer input::-ms-input-placeholder,
.formContainer textarea::-ms-input-placeholder {
  font-family: "Fira Code", monospace;
}

.formContainer input::placeholder,
.formContainer textarea::placeholder {
  font-family: "Fira Code", monospace;
}

.formContainer .heroBtn {
  width: 140px;
  margin-left: 20px;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.headingContainer {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.textContainer {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
}

strong {
  text-transform: uppercase;
  font-size: clamp(8rem, 6.5vw, 9.5rem);
  letter-spacing: -1px;
  font-family: "Fira Code", monospace;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #171117;
  position: absolute;
  left: 0;
  top: 1px;
  z-index: -1;
}

.projectStrong,
.articlesStrong {
  font-size: clamp(6.4rem, 6.5vw, 9.5rem);
}

.contactStrong {
  font-size: clamp(7.3rem, 6.5vw, 9.5rem);
}

small {
  position: absolute;
  top: 0;
  font-weight: 700;
  font-size: 1.9rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #08d665;
  font-family: "Roboto Slab", serif;
}

.sectionHeading {
  font-size: 6rem;
  font-family: "Fira Code", monospace;
  text-transform: uppercase;
}

.sectionHeading,
.headingTag {
  color: #ebebeb;
}

.headingTag {
  font-family: "Arvo", serif;
  font-size: clamp(2rem, 2.6vw, 3rem);
  line-height: 1.5em;
  width: 30vw;
  padding: 10px;
  padding-left: 20px;
  border-left: 7px solid #08d665;
}

.divider {
  position: relative;
  height: 1px;
  z-index: 20;
}

.divider::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 8px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#0d6328), to(transparent));
  background-image: linear-gradient(to right, transparent, #0d6328, transparent);
}

.btn {
  color: #ebebeb;
  border-color: #171117;
  text-shadow: 0 20px 50px rgba(82, 193, 31, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.9);
}

.heroBtn {
  display: inline-block;
  position: relative;
  margin: 6px 6px 6px 0;
  padding: 0.5em 1.5em;
  font-size: 1.7rem;
  font-family: "Fira Code", monospace;
  line-height: 2.42rem;
  font-weight: 700;
  border-width: 2px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: bottom;
  background-color: #171117 !important;
  -webkit-box-shadow: 0 1px 1px -1px rgba(255, 255, 255, 0.8) inset, 0 40px 20px -20px rgba(255, 255, 255, 0.08) inset, 0 -1px 1px -1px rgba(0, 0, 0, 0.7) inset, 0 -40px 20px -20px rgba(0, 0, 0, 0.06) inset, 0 11px 8px -3px rgba(0, 0, 0, 0.4), 0 4px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 6px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 1px -1px rgba(255, 255, 255, 0.8) inset, 0 40px 20px -20px rgba(255, 255, 255, 0.08) inset, 0 -1px 1px -1px rgba(0, 0, 0, 0.7) inset, 0 -40px 20px -20px rgba(0, 0, 0, 0.06) inset, 0 11px 8px -3px rgba(0, 0, 0, 0.4), 0 4px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 6px 1px rgba(0, 0, 0, 0.5);
}

.heroBtn:hover {
  text-shadow: 0 0 33px #ebebeb, 0 -1px 0 rgba(0, 0, 0, 0.9);
}

@media (max-width: 1440px) {
  .projectItemRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectItemRow .projectItemDisplay,
  .projectItemRow .projectItemContent {
    margin: 5px 0;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .home .heroContainer {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home .heroContainer .heroImage {
    width: 40%;
    min-width: 250px;
    padding-left: 0;
    height: 100%;
  }
  .home .heroContainer .heroContent {
    width: 82%;
    height: 70%;
  }
  .headingContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-width: 288px;
  }
  .headingContainer .headingTag {
    width: 100%;
    margin-top: 25px;
  }
  .bio .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .bio .flexContainer .bioContents,
  .bio .flexContainer .profilePic {
    width: 100%;
  }
  .bio .flexContainer .bioContents {
    margin-top: 20px;
  }
  .skills .centerContainer .gridContainer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  .skills .centerContainer .gridContainer .skill {
    border: 1px solid #ebebeb;
  }
  .skills .centerContainer .gridContainer .skill img {
    height: 5.5rem;
  }
  .projectItemRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .projectItemRow .projectItemDisplay,
  .projectItemRow .projectItemContent {
    width: 100%;
    margin: 5px 0;
  }
  .contact .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .contact .flexContainer .formContainer {
    margin-top: 20px;
    min-width: 288px;
  }
  .contact .flexContainer .formContent,
  .contact .flexContainer .linkContainer,
  .contact .flexContainer .formContainer {
    width: 100%;
  }
  footer {
    min-height: 23vh;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .home .heroContent .heroTagline {
    margin: 30px 0;
  }
  .contact .headingContainer {
    padding-bottom: 30px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .home .heroContent {
    padding: 15px 10px;
    margin: 30px 0;
    min-height: 530px;
    min-width: 288px;
  }
  .home .heroImage {
    min-width: 250px;
  }
  .skills .centerContainer {
    max-width: none;
    width: 100%;
  }
  .skills .centerContainer .gridContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .skills .centerContainer .skill img {
    height: 3.5rem;
  }
  .projectItemRow .projectItemDisplay img {
    min-height: 270px;
    min-width: 288px;
  }
  .moreArticles {
    text-align: center;
  }
}

@media (max-width: 320px) {
  header .menuToggleContainer {
    margin: 0.5rem 0;
  }
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2a2d34;
}

img {
  width: 100%;
}

section {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 100px 0;
}

.wrapper {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
a,
p,
i,
ul,
li,
nav,
fieldset {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}
