html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  min-height: 3vh;
  top: 0;
  z-index: 1030;
  border-bottom: 0.1rem solid #171117;
  background-image: -webkit-gradient(linear, left top, right top, from(#2a2d34), to(#171117));
  background-image: linear-gradient(to right, #2a2d34 0%, #171117 100%);
  color: #08d665 !important;
}

header .menuToggleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem 6rem;
}

header .menuToggleContainer .menuToggle {
  height: 50px;
  width: 50px;
}

header .menuToggleContainer .menuBar {
  width: 45px;
  height: 45px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 10px 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 700;
  height: 100%;
}

header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li a {
  font-family: "Fira Code", monospace;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 0 15px;
}

.siteLogo {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.siteLogo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  min-height: 19vh;
  height: 100%;
  background-color: #171117;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Fira Code", monospace;
}

footer p {
  font-size: 2rem;
  color: #ebebeb;
  padding: 10px 0;
}

footer p:nth-of-type(2) {
  font-size: 1.7rem;
  padding-top: 0;
}

footer span {
  color: #0d6328;
  font-weight: 700;
}

footer .siteLogo {
  height: 75px;
  width: 75px;
  margin-bottom: 12px;
}

footer .siteLogo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 0 1px 1px -1px inset, 0 40px 20px -20px rgba(255, 255, 255, 0.08) inset, 0 -1px 1px -1px rgba(0, 0, 0, 0.7) inset, 0 -40px 20px -20px rgba(0, 0, 0, 0.06) inset, 0 11px 8px -3px rgba(0, 0, 0, 0.4), 0 4px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 6px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 1px -1px inset, 0 40px 20px -20px rgba(255, 255, 255, 0.08) inset, 0 -1px 1px -1px rgba(0, 0, 0, 0.7) inset, 0 -40px 20px -20px rgba(0, 0, 0, 0.06) inset, 0 11px 8px -3px rgba(0, 0, 0, 0.4), 0 4px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 6px 1px rgba(0, 0, 0, 0.5);
}

.home {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(22, 65, 13, 0.7)), to(rgba(100, 218, 100, 0.6))), url(https://data.whicdn.com/images/254374461/original.gif);
  background-image: linear-gradient(to right bottom, rgba(22, 65, 13, 0.7), rgba(100, 218, 100, 0.6)), url(https://data.whicdn.com/images/254374461/original.gif);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.heroAvatar {
  background: #2a2d34;
  border-radius: 50%;
  border: 2px solid #171117;
}

.heroContainer {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroContainer .heroContent {
  color: #ebebeb;
  border: 2px solid #171117;
  background: #2a2d34;
  padding: 20px 30px;
  width: 100%;
  min-height: 50vh;
}

.heroContainer .heroContent .heroTitle {
  font-family: "Roboto Slab", serif;
  font-size: 7.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding-bottom: 20px;
}

.heroContainer .heroContent .heroRole {
  font-size: 3rem;
  font-family: "Fira Code", monospace;
}

.heroContainer .heroContent .heroTagline {
  font-size: 2.7rem;
  font-family: "Roboto Slab", serif;
  border-left: 10px solid #08d665;
  padding-left: 15px;
  line-height: 2.9rem;
  margin: 50px 0;
}

.heroContainer .heroContent .fab,
.heroContainer .heroContent .far {
  font-size: 4rem;
  padding: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heroContainer .heroContent .fab:hover,
.heroContainer .heroContent .far:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #08d665;
}

.heroContainer .heroContent .heroBtn {
  height: 45px;
}

.heroContainer .heroImage {
  padding-left: 40px;
  height: 440px;
  width: 60%;
}

.heroContainer .linkContainer {
  width: 100%;
  padding-bottom: 20px;
}

.heroContainer .linkContainer a {
  padding: 0 10px;
}

.heroContainer .linkContainer a:first-of-type {
  padding-left: 0;
}

.bio {
  background-color: #2a2d34;
  color: #ebebeb;
  margin-bottom: 50px;
}

.bio .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.bio .flexContainer .bioContents {
  border: 3px solid #171117;
  width: 66%;
  height: 100%;
  padding: 30px;
  background: #171117;
  border-radius: 13px;
  -webkit-box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
}

.bio .flexContainer .bioContents .sectionHeading {
  margin-bottom: 15px;
}

.bio .flexContainer .bioContents p {
  font-size: 2.1rem;
  line-height: 3.3rem;
  font-family: "Roboto Slab", serif;
  padding-bottom: 15px;
}

.bio .flexContainer .profilePic {
  max-height: 600px;
  max-width: 400px;
  height: 500px;
}

.bio .flexContainer .profilePic img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  border: 5px solid #171117;
  border-radius: 25px;
  -webkit-box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
}

.skills {
  background: #171117;
  background-image: url(../assets/skills-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
}

.skills .sectionHeading {
  text-align: center;
  padding-bottom: 20px;
}

.skills .sectionHeading,
.skills p {
  color: #ebebeb;
}

.centerContainer {
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
}

.centerContainer .gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  text-align: center;
  padding: 10px;
}

.centerContainer .gridContainer .skill {
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  border: 3px solid #ebebeb;
  padding: 10px;
}

.centerContainer .gridContainer img {
  height: 9rem;
}

.centerContainer .gridContainer p {
  padding-top: 10px;
  font-family: "Fira Code", monospace;
  font-size: 1.9rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projectItemRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
}

.projectItemRow .projectItemDisplay {
  width: 45%;
  margin-right: 40px;
}

.projectItemRow .projectItemContent {
  width: 50%;
  padding: 15px;
  background-color: #171117;
  color: #ebebeb;
  line-height: 2.1rem;
}

.projectItemRow .projectItemContent .projectTitle {
  font-size: 2.8rem;
  font-family: "Fira Code", monospace;
  padding: 10px 0;
}

.projectItemRow .projectItemContent .projectTools {
  font-size: 1.5rem;
  font-family: "Fira Code", monospace;
  width: 100%;
  text-align: left;
  padding: 25px 0;
}

.projectItemRow .projectItemContent .projectTools .toolUsed {
  background-color: #0d6328;
  border: 2px solid #ebebeb;
  border-radius: 15px;
  padding: 7px;
  margin-right: 10px;
  font-weight: 500;
}

.projectItemRow .projectItemContent .projectDescription {
  font-size: 2rem;
  line-height: 3.1rem;
  font-family: "Roboto Slab", serif;
  padding: 10px 0 20px 0;
}

.projectItemRow .projectItemContent .heroBtn {
  font-size: 2rem;
}

.projectItemRow .projectItemContent .heroBtn .fa-github-alt {
  margin-right: 10px;
}

.articles {
  background: #171117;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  background-image: url(/assets/wlc-bg1.jpg);
}

.articles strong {
  -webkit-text-stroke: 1px #2a2d34;
}

.articles .articleHome,
.articles .articleList {
  height: 100%;
}

.articles .articleList {
  width: 100%;
}

.articles .articlePreview {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.articles .articlePreview:hover {
  background-color: #171117;
}

.articles .articlePreview a {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  padding: 35px 0;
}

.articles .articlePreview .articleTitle {
  font-size: 3.6rem;
  font-family: "Roboto Slab", serif;
  padding-bottom: 10px;
}

.articles .articlePreview .fa-external-link-alt {
  font-size: 4rem;
  padding-left: 15px;
  color: #08d665 !important;
}

.articles .articlePreview .articleTitle,
.articles .articlePreview .fa-external-link-alt,
.articles .articlePreview .articleSubText {
  color: #ebebeb;
}

.articles .articlePreview .articleData {
  font-size: 2rem;
  padding-bottom: 20px;
  font-family: "Fira Code", monospace;
  color: #08d665;
  font-style: italic;
}

.articles .articlePreview .articleSubText {
  font-size: 1.8rem;
  padding-bottom: 20px;
  font-family: "Arvo", serif;
}

.articles .moreArticles {
  font-size: 2.4rem;
  width: 100%;
  font-family: "Roboto Slab", serif;
  color: #08d665;
  margin-top: -15px;
  padding-bottom: 25px;
  font-weight: 700;
}

.contact {
  font-family: "Roboto Slab", serif;
  color: #ebebeb;
  position: relative;
  background-color: #171117;
  z-index: 1;
  padding-top: 0;
  margin-top: 100px;
}

.contact .clipOverlay {
  height: 100%;
  width: 100%;
  background-color: #2a2d34;
  position: absolute;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

.contact .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.contact .flexContainer .formContent {
  width: 49%;
  font-size: 2.8rem;
}

.contact .flexContainer .formContent p:nth-child(-n + 3) {
  padding-bottom: 30px;
}

.contact .flexContainer .formContent a {
  text-decoration: underline;
  color: #08d665;
}

.contact .flexContainer .linkContainer {
  width: 75%;
  margin-top: 50px;
  font-size: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .flexContainer .linkContainer .fab,
.contact .flexContainer .linkContainer .far {
  color: #ebebeb;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.contact .flexContainer .linkContainer .fab:hover,
.contact .flexContainer .linkContainer .far:hover {
  color: #08d665;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.formContainer {
  width: 50%;
  min-width: 500px;
  height: 100%;
  min-height: 630px;
  max-height: 600px;
  margin-top: -15px;
  font-size: 2rem;
  border: 2px solid #171117;
  background-color: #171117;
  border-radius: 14px;
}

.formContainer fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.formContainer fieldset,
.formContainer .heroBtn {
  padding: 20px;
}

.formContainer label {
  font-family: "Roboto Slab", serif;
  font-size: 2.3rem;
  padding: 10px 0;
}

.formContainer label:first-of-type {
  padding-top: 0;
}

.formContainer textarea {
  resize: none;
  width: 100%;
  height: 100%;
  min-height: 250px;
  padding-right: 15px;
}

.formContainer input,
.formContainer textarea {
  padding: 15px;
  font-size: 1.7rem;
  font-family: "Fira Code", monospace;
}

.formContainer input::-webkit-input-placeholder,
.formContainer textarea::-webkit-input-placeholder {
  font-family: "Fira Code", monospace;
}

.formContainer input:-ms-input-placeholder,
.formContainer textarea:-ms-input-placeholder {
  font-family: "Fira Code", monospace;
}

.formContainer input::-ms-input-placeholder,
.formContainer textarea::-ms-input-placeholder {
  font-family: "Fira Code", monospace;
}

.formContainer input::placeholder,
.formContainer textarea::placeholder {
  font-family: "Fira Code", monospace;
}

.formContainer .heroBtn {
  width: 140px;
  margin-left: 20px;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.btn {
  color: #ebebeb;
  border-color: #171117;
  text-shadow: 0 20px 50px rgba(82, 193, 31, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.9);
}

.heroBtn {
  display: inline-block;
  position: relative;
  margin: 6px 6px 6px 0;
  padding: 0.5em 1.5em;
  font-size: 1.7rem;
  font-family: "Fira Code", monospace;
  line-height: 2.42rem;
  font-weight: 700;
  border-width: 2px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: bottom;
  background-color: #171117;
  -webkit-box-shadow: 0 1px 1px -1px rgba(255, 255, 255, 0.8) inset, 0 40px 20px -20px rgba(255, 255, 255, 0.08) inset, 0 -1px 1px -1px rgba(0, 0, 0, 0.7) inset, 0 -40px 20px -20px rgba(0, 0, 0, 0.06) inset, 0 11px 8px -3px rgba(0, 0, 0, 0.4), 0 4px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 6px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 1px -1px rgba(255, 255, 255, 0.8) inset, 0 40px 20px -20px rgba(255, 255, 255, 0.08) inset, 0 -1px 1px -1px rgba(0, 0, 0, 0.7) inset, 0 -40px 20px -20px rgba(0, 0, 0, 0.06) inset, 0 11px 8px -3px rgba(0, 0, 0, 0.4), 0 4px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 6px 1px rgba(0, 0, 0, 0.5);
}

.heroBtn:hover {
  text-shadow: 0 0 33px #ebebeb, 0 -1px 0 rgba(0, 0, 0, 0.9);
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2a2d34;
}

img {
  width: 100%;
}

section {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 100px 0;
}

.wrapper {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
a,
p,
i,
ul,
li,
nav,
fieldset {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}

.headingContainer {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.textContainer {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
}

strong {
  text-transform: uppercase;
  font-size: 9.5rem;
  letter-spacing: -1px;
  font-family: "Fira Code", monospace;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #171117;
  position: absolute;
  left: 0;
  top: 1px;
  z-index: -1;
}

small {
  position: absolute;
  top: 0;
  font-weight: 700;
  font-size: 1.9rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #08d665;
  font-family: "Roboto Slab", serif;
}

.sectionHeading {
  font-size: 6rem;
  font-family: "Fira Code", monospace;
  text-transform: uppercase;
}

.sectionHeading,
.headingTag {
  color: #ebebeb;
}

.headingTag {
  font-family: "Arvo", serif;
  font-size: 3rem;
  line-height: 1.5em;
  width: 30vw;
  padding: 10px;
  padding-left: 20px;
  border-left: 7px solid #08d665;
}

.divider {
  position: relative;
  height: 1px;
  z-index: 20;
}

.divider::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 8px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#0d6328), to(transparent));
  background-image: linear-gradient(to right, transparent, #0d6328, transparent);
}
